# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# ======================================================
# Dependencies
# ======================================================
node_modules/

# ======================================================
# Expo
# ======================================================
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# ======================================================
# Native
# ======================================================
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# ======================================================
# Metro
# ======================================================
.metro-health-check*

# ======================================================
# Debug / Logs
# ======================================================
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# ======================================================
# macOS / OS
# ======================================================
.DS_Store
Thumbs.db
*.pem

# ======================================================
# Environment Variables
# ======================================================
.env
.env.*
!.env.example

# Backend environment
backend/.env
backend/.env.*
!backend/.env.example

# Frontend environment
frontend/.env
frontend/.env.*
!frontend/.env.example

# ======================================================
# TypeScript
# ======================================================
*.tsbuildinfo

# ======================================================
# Generated Native Folders
# ======================================================
/ios
/android

# ======================================================
# IDE
# ======================================================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json